HELP.md
target/
*.class
*.log
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.class

#Spring
*.jar
*.war
*.ear
!mvnw
!mvnw.cmd

*.dSYM/
logs/
*.log
*.aux
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.bbl
*.blg

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.http

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
