body {
    background-image: url('uniPd.jpg'); /* percorso dell'immagine */
    background-size: cover;        /* ridimensiona per coprire tutto lo schermo */
    background-repeat: no-repeat;  /* evita ripetizioni */
    background-position: center;   /* centra l’immagine */
    background-attachment: fixed;  /* effetto paralax, opzionale */
/*    background-color: #f5f5f5;*/
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 60px;
    max-width: 600px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    color: #333;
}

